/* --- General --- */
 ::placeholder
  {
    color: white !important;
  }

  ::-webkit-scrollbar-track
  {
    border-radius: 0px;
 
  }

  ::-webkit-scrollbar
  {
    width: 0px;
  
  }

  ::-webkit-scrollbar-thumb
  {
    border-radius: 0px;
   
  }

  input:-moz-placeholder
  {
    color: white !important;
  }

  scrollbar
  {
    -moz-appearance: none !important;
    background: #040406 !important;
  }

  scrollbar[orient="vertical"]
  {
    min-width: 0px !important;
    max-width: 0px !important;
  }

  scrollbar[orient="horizontal"]
  {
    min-height: 0px !important;
    max-height: 0px !important;
  }

  scrollbar slider
  {
    -moz-appearance: none !important;
    background: transparent !important;
  }

  scrollbar thumb
  {
    -moz-appearance: none !important;

    border: none !important;
  }

  scrollbar thumb:not(:active):hover
  {
    background: #383838 !important;
  }

  scrollbar thumb:active,
scrollbar thumb:hover:active,
scrollbar thumb[active="true"]
  {

    border: none !important;
  }

  scrollbar scrollbarbutton
  {
    display: none;
  }

  scrollcorner
  {
    -moz-appearance: none !important;
    background: #040406 !important;
    border: none !important;
  }
@font-face {
	font-family: "FuturaFuturisC";
	src: url("FuturaFuturisC-Bold.eot");
	src: url("FuturaFuturisC-Bold.woff");
}
* {
	padding: 0;
	margin: 0;
}
html, body {
	width: 900px; 
 margin: auto; display: inline-block;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	height: auto;
	
	cursor: default;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	min-width: 350px;min-width: 250px;
	font-size: 100%
}

body {color: #151414;overflow: auto;padding: 0;margin:0;}





h1, h2{padding:0;margin:0; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Light", Helvetica, Arial , Verdana, sans-serif;}
div, a, i{outline:0  !important;}
h1{font-size:23px;font-weight:normal;line-height:120%;color:white;}
input, button, textarea{padding:0;margin:0;outline:0;border:0;font-size:16px;font-family:Verdana}
table{border-collapse:collapse;border-spacing:0;}
a, a:hover, a:active, a:focus {outline: 0;color:white;text-decoration:none;}
a.disabled {outline: 0;cursor: default;pointer-events: none;}
section.stations {
    margin: auto;
    margin-top: 0px;
}


/* --- Header Link --- */

.htitle{float:right; text-transform: uppercase; font-weight: bold;  font-size: 18px;padding: 10px 0 7px 10px;}
.st{margin-right: 3px;}


/* --- Preview --- */
.preview{margin:0 ; width: 100%;display:table;    background: #fafbfc;text-decoration:none;    box-sizing: border-box;}
.preview div{display:table-cell;vertical-align:middle}
.preview_image{padding:0 }


/* --- Preview Track --- */
div {
    display: block;
}
.station {    cursor: pointer;
	width: 100%;
	height: 53px;
	
}
.station .radiologo {
	background-color: #fafbfc;
	width: 84px;
	height: 53px!important;
	text-align: center;
	margin: 0;
	position: static;
	float: left;
}
.station .radiologo i {
	color: white;
	font-size: 60px;
	margin: 0;
	padding: 0;
}
.station .radiologo i.big-icon {
	color: white;
	font-size: 46px;
	line-height: 53px;
	margin: 0;
	padding: 0;
}
.station .radioinfo {
	padding-left: 10px;
	padding-top: 7px;
	height: 53px;
	text-align: left;
	width: auto;
	margin-left: 80px;
	overflow: hidden;
}
.station .radioinfo .artist {
	color: #000;
	text-transform: uppercase;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 15px;
}
.station .radioinfo .title {
	color:#8e8e8e;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 15px;
}
.station .radioinfo .title .txt-load {
	color: white;
	font-size: 14px;
}
.station .radiologo .new {
	color: white;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 10px;
	width: 27px;
	height: 15px;
	background-color: #ff6000;
	float: right;
	position: absolute;
	left: 51px;
	padding: 1px;
	border-radius: 3px;
}
.stinfo {
	color: #888888;
	text-align: center;
	padding: 10px;
	width: auto;
	height: auto;
}
.active_element, .active_station {
	background-color: #ff6000;
}
.active_element .radioinfo .name {
	color: white!important;
}
/* --- Sprate ---*/
.preview_image {width: 84px;height: 53px;background:#000;
border: 0px solid #000000; }
#record, #pirat, #pump, #breaks, #chill, #club, #dancecore, #deep, #dub, #rus, #teo, #trance, #vip, #yo, #gop, #med, #super, #trap, #rock, #mf, #ibiza {display:inline-block;width:84px;height:53px; background:#bcc8d6;}
#record {background:  url(sprate.png) 0 -53px;}
#pirat {background:  url(sprate.png) -168px -53px;}
#pump {background:  url(sprate.png) -1092px -53px;}
#breaks {background:  url(sprate.png) -504px -53px;}
#chill {background:  url(sprate.png) -588px -53px;}
#club {background:  url(sprate.png) -840px -53px;}
#dancecore {background:  url(sprate.png) -420px -53px;}
#deep {background:  url(sprate.png) -1344px -53px;}
#dub {background:  url(sprate.png) -672px -53px;}
#rus {background:  url(sprate.png) -1176px -53px;}
#teo {background:  url(sprate.png) -336px -53px;}
#trance {background:  url(sprate.png) -84px -53px;}
#vip {background:  url(sprate.png) -252px -53px;}
#yo {background:  url(sprate.png) -1260px -53px;}
#gop {background:  url(sprate.png) -1008px -53px;}
#med {background:  url(sprate.png) -924px -53px;}
#super {background:  url(sprate.png) -756px -53px;}
#trap {background:  url(sprate.png) -1428px -53px;}
#rock {background: url(sprate.png) -1512px -53px;}
#ibiza {background:  url(ibiza.png) 0 -53px;}
#mf {background:  url(mf.png) 0 -53px;}
