
*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,body {
  background:  #191919;
  font-family: Roboto,Verdana,sans-serif;
}

header,
main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 300px;
  top: 0;
  right: 0;
  will-change: width;
  transform: translateZ(0);
  transition: .3s;
}

button,
input {
  background: transparent;
  border: none;
  outline: none;
  font-family: "Roboto", "Helvetica", "sans-serif";
  -webkit-appearance: none;
}

.menu {
  width: 32px;
  height: 32px;
 border-radius: 3px;
  margin: 12px;
  cursor: pointer;
  transition: background-color .2s;
}

.mobile-only {
  display: none;
}

.ripple {  
  z-index: 99992;
  font-family: "Roboto", "Helvetica", "sans-serif";
  overflow: hidden;
  position: relative;
  -webkit-transform: translateZ(0);
}
.ripple .rippling {
  position: absolute;
  border-radius: 50%;
  background-color: #FFF;
  pointer-events: none;
  opacity: .4;
  transform: translate3d(-50%, -50%, 0);
}

header {
  align-items: center;
  
  
  color: #FFF;
  position: fixed;
  z-index: 99991;

}
header.shadow {background: #292929;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}
header .menu {
  background: url(svgs/menu.png) center/contain no-repeat;
}


header h1 { z-index: 99991;
 text-shadow: 0px 0px 6px rgba(255,255,255,0.7);	
  font-weight: 400;
  font-size: 20px;
}
header input { z-index: 99991;
  background: rgba(255, 255, 255, 0.3);
  width: 50vw;
  max-width: 800px;
  height: 40px;
  padding: 15px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  margin: 5px auto;
  color: #FFF;
  transition: .3s, width .01s;
}
header input:focus, header input:active { z-index: 99991;
  background: #FFF;
  color: #000;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.1);
}
header label {z-index: 99991;
  width: 32px;
  height: 32px;
  background: url(svgs/search.png) center/contain no-repeat;
 border-radius: 3px;
}
header label.close {  
  background: url(svgs/menu.png) center/contain no-repeat;
     width: 32px;
  height: 32px; border-radius: 3px;
}
header label {
  margin-left: auto;
}
header .profile {z-index: 99991; border-radius: 3px;
  width: 32px;
  height: 32px;
  background: url(svgs/heart.png) center/contain no-repeat;
  
  margin: 0 15px;
}
header ul {
  display: flex;
  width: 100%;
  position: relative;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
header li {
  flex-shrink: 0;
  list-style: none;
  padding: 15px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
}
header li.active {
  color: #FFF;
}
header .slider {
  height: 3px;
  background: #FFF;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .3s;
}

.radios {
  justify-content: center;
  padding: 0px 0px 0px 10px;
}


.side-menu {
  justify-content: left;
  flex-wrap: wrap;
  background: #FFF;
  height: 100%;
  width: 224px;
  position: fixed;
  top: 0;
  left: 0;
   z-index: 99993;
  transform: translateX(-100%) translateZ(0);
  transition: .3s;
  overflow-y: auto;
  will-change: transform;
  -webkit-overflow-scrolling: touch;
}
.side-menu.active {
  transform: translateX(0) translateZ(0);
}
.side-menu.active ~ header .menu {
  width: 0px;
  margin: 12px 8px;
}
.side-menu .menu-holder { 
  display: flex;
  align-items: center;
}
.side-menu .menu-holder span {
 color: #E67E22;
}
.side-menu .menu {background:  url(svgs/delete.png) center/contain no-repeat;
}

.side-menu div #tu {
  list-style: none;
  color: #212121;
  font-size: 13px;
  font-weight: 500;
  width: 224px;
  padding: 10px 0 10px 18px;
  cursor: pointer;
  white-space: nowrap;
  line-height: 24px;
  transition: .2s;
}
.side-menu div #tu:hover {
   color: #FF5722;
  background-color: #f5f5f5;
 
}
.side-menu div #tu.active {
  color: #FF5722;
  
 
}
.side-menu .cta {
  display: block;
  background: #536DFE;
  color: #FFF;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;
  margin: 20px auto;
}

.side-menu-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}

.account {z-index: 99999;
  background: #EEE;
  position: fixed;
  top: 62px;
  right: 15px;
  z-index: 6;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
  transform-origin: top right;
  transition: .15s;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}
.account:after {
  content: '';
  width: 15px;
  height: 15px;
  background: inherit;
  position: absolute;
  top: -6px;
  right: 8px;
  opacity: 0;
  visibility: hidden;
  transform: rotate(45deg) scale(0.5);
  transition: .15s;
}
.account.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.account.active:after {
  opacity: 1;
  visibility: visible;
  transform: rotate(45deg) scale(1);
}
.account li {
  padding: 12px 16px;
  list-style: none;
  font: 300 16px Roboto;
  cursor: pointer;
  transition: .3s;
}
.account li:hover {
  background: #e1e1e1;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

@media (max-width: 1000px) {.playlist {display: none!important ;}  section.player .background-sector, .player-sector {display: none!important ;} .player {display: none!important ;}  .radiolist { margin-top: 68px!important ;justify-content: space-evenly;}
  .side-menu.active ~ header input {
    width: calc(50vw - 100px);
  }
}
@media (max-width: 767px) {.playlist {display: none!important ;}  section.player .background-sector, .player-sector {display: none!important ;} .player {display: none!important ;}
  .side-menu.active ~ header .menu {
    margin: 12px;
    width: 40px;
  }
  .side-menu.active ~ header,
  .side-menu.active ~ main {
    width: 100% !important;
  }
  .side-menu.active ~ header input {
    width: 50vw;
  }
  .side-menu.active ~ .side-menu-overlay {
    visibility: visible;
    opacity: 1;
  }

  .card {
    flex-basis: 165px;
  }
  .radiolist { margin-top: 68px!important ;justify-content: space-evenly;}
}
@media (max-width: 599px) {.playlist {display: none!important ;} section.player .background-sector, .player-sector {display: none!important ;} .player {display: none!important ;}
.radiolist { margin-top: 68px!important ;justify-content: space-evenly;}
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: inherit;
  }

  .profile {
    margin: 16px !important;
  }

  header input {
    display: none;
    padding: 0px 12px;
    font: 400 16px/18px Roboto !important;
    width: calc(100vw - 130px);
  }

  .mobile-input header h1,
  .mobile-input header .menu {
    display: none;
  }
  .mobile-input input {
    display: initial;
  }
}
@media (max-width: 480px) {
  .radios {justify-content: space-evenly!important;
    padding: 13px 0px 10px 40px !important;
}

.radiolist { margin-top: 68px!important ;justify-content: space-evenly!important;}
#canvas {display: none!important ;}
   section.player .background-sector, .player-sector {display: none!important ;} .player {display: none!important ;}
  .card {
    flex-basis: 140px;
  }

}
.ios * {
  cursor: pointer;
}
