DirectoryIndex index.html
RewriteEngine on
RewriteBase /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.html\ HTTP
RewriteCond %{SERVER_PORT} ^443$ [OR] 
RewriteCond %{HTTPS} off [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^.]+)\.html$ http://recordstation.ru/$1 [R=301,L]
RewriteCond %{REQUEST_URI} !(\.[^./]+)$
RewriteCond %{REQUEST_fileNAME} !-f
RewriteRule (.*)/$1.html
Redirect / st http://recordstation.ru
Redirect / tv http://recordstation.ru
ErrorDocument 404 http://recordstation.ru
ErrorDocument 401 http://recordstation.ru
ErrorDocument 403 http://recordstation.ru
ErrorDocument 500 http://recordstation.ru
