


.player-settings-window .player-settings-close:hover {
	opacity: 0.8;
}
.player-settings-window .ps-section {
	padding: 0; margin-top: 20px;
}
.player-settings-window .ps-section label {
	cursor: pointer;
	position: relative;
	
}
.player-settings-window .ps-section label input[type="checkbox"] {
	display: none;
}
.player-settings-window .ps-section label .checkbox {
	position: absolute;
	
	width: 18px;
	height: 18px;
border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	border: 1px dotted #ff6000;
}
.player-settings-window .ps-section label input[name="saveRadioSettings"]:checked + .checkbox_volume,
.player-settings-window .ps-section label input[name="replaceSPB"]:checked + .checkbox_spb {
	background: #ff6600 url('/checkbox.png') no-repeat center center;
	animation: onCheck 0.4s ease-in-out;
	border: none;
	width: 18px;
	height: 18px;
	border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
@keyframes onCheck {
	0% { transform: scale(0.8) }
	70% { transform: scale(1.2) }
	100% { transform: scale(1) }
}
.player-settings-window .ps-section .radio-set {
	margin-top: 20px;
	display: table;
}
.player-settings-window .ps-section .radio-set .bitrate-btn {
	padding: 6px 9px;
	cursor: pointer;
	color: #b3b3b3;
border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
	background-color: #2e2e2e;
	display: inline;
	margin: 5px;
	transition: all .3s;
	box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}
.player-settings-window .ps-section .radio-set .bitrate-btn:last-child {
	margin-right: 0;
}
.player-settings-window .ps-section .radio-set .bitrate-btn:hover:not(.active) {
	color: white;
	background-color: #4e4e4e;
}
.player-settings-window .ps-section .radio-set .active {
	color: white;
	background: #ff6000;
    background: -o-linear-gradient(315deg,#ff6000 0,#ff3000 100%);
    background: linear-gradient(135deg,#ff6000 0,#ff3000 100%);
	transition: all .3s;
}
.player-settings-window .ps-section .region-notify {
	color: gray;
	font-size: 14px;
	margin-top: 15px;
}
.player-settings-window .ps-section .spb-main {
	display: block;
	margin-top: 30px;
}
