

.player-settings-window .ps-second-name {
	margin-top: 10px;
	display: block;
}

.player-settings-window .player-settings-close:hover {
	opacity: 0.8;
}
.player-settings-window .ps-section {
	padding: 30px 0 0 40px;
}
.player-settings-window .ps-section label {
	cursor: pointer;
	position: relative;
	
}
.player-settings-window .ps-section label input[type="checkbox"] {
	display: none;
}
.player-settings-window .ps-section label .checkbox {
	position: absolute;
	left: -24px;
	width: 16px;
	height: 16px;

	border: 1px solid white;
}
.player-settings-window .ps-section label input[name="saveRadioSettings"]:checked + .checkbox_volume,
.player-settings-window .ps-section label input[name="replaceSPB"]:checked + .checkbox_spb {
	background: #ff6600 url('/checkbox.png') no-repeat center center;
	animation: onCheck 0.4s ease-in-out;
	border: none;
	width: 18px;
	height: 18px;
	border-radius:10px;
}
@keyframes onCheck {
	0% { transform: scale(0.8) }
	70% { transform: scale(1.2) }
	100% { transform: scale(1) }
}
.player-settings-window .ps-section .radio-set {
	margin-top: 15px;
	display: table;
}
.player-settings-window .ps-section .radio-set .bitrate-btn {
	padding: 6px 9px;
	cursor: pointer;
	margin: 0px;
	color: #b3b3b3;

	background-color: #2e2e2e;
	display: inline;
	margin: 1px;
	transition: all .3s;
}
.player-settings-window .ps-section .radio-set .bitrate-btn:last-child {
	margin-right: 0;
}
.player-settings-window .ps-section .radio-set .bitrate-btn:hover:not(.active) {
	color: white;
	background-color: #4e4e4e;
}
.player-settings-window .ps-section .radio-set .active {
	color: white;
	background-color: #ff6600;
	transition: all .3s;
}
.player-settings-window .ps-section .region-notify {
	color: gray;
	font-size: 14px;
	margin-top: 15px;
}
.player-settings-window .ps-section .spb-main {
	display: block;
	margin-top: 30px;
}
