html, body {margin:0; padding:0;background:#24292e!important ;font-family:  Arial, sans-serif; font-size:14px; }
p {font-family:  Arial, sans-serif; font-size:14px; color:#4F4F4F; margin:0; padding:0; line-height:19px;}
/* HEADER */
#header {margin:0 auto; width:970px; height:76px; display: none;} 

#toppan {margin:0 auto;	margin-top:17px; display: none;  width:765px; height:40px; float:right;}
#toppan1 {background:#24292e ;width:100%; height:100%;  display: none;}
#logo {display: none; margin:21px 0 0 8px; font-family: Arial,  sans-serif; width:174px; height:38px; font-size:10px; text-decoration:none; float:left;}
#logo p {text-decoration:none; margin:0; padding:0; text-align:center;}
#logo a {font-size:11px; text-decoration:none; margin:0; color:#ff6000; text-decoration:none;}
#logo a:hover {text-decoration:underline;}
/* /HEADER */


@media screen and (max-width: 917px){.SideRightScrollSlider ul li {width: 29.374%;height: 29.374%;}}
@media screen and (max-width: 785px){.SearchForm #ya-site-form0 .ya-site-form__wrap {width: 100%!important;}
	.Header .HeaderTeam .Menu {float: none;margin-top: 0;}.Header .HeaderTeam .Menu ul {text-align: center;padding-bottom: 0px;}.Header .HeaderTeam .Menu li {float: none;padding-bottom: 12px;display: inline-block;}}
@media screen and (max-width: 782px){.FullContent {width: 62.5%;}.SideRightScrollSlider ul li {width: 29.34%;height: 29.34%;}}@media screen and (max-width: 775px){.FullContent {width: 100%;}.FullContentRight {top: auto;float: right;width: 100%;}.SideRightScrollSlider {width: 100%;text-align: center;}.SideRightScrollSlider ul {width: 100%;display: inline-block;}.SideRightScrollSlider ul li {width: 15%;height: 15%;}}@media screen and (max-width: 768px){.ItemBox {width: 31%;}}@media screen and (max-width: 656px){.Header .HeaderTeam .Menu {float: none;display: block;text-align: center;}.Header .HeaderTeam .Menu ul {display: inline-block;}.Header .HeaderTeam .Search {float: none;}.Header .HeaderTeam .Search .SearchForm {padding-left: 0;padding-right: 0;}.Header .HeaderTeam .Search .SearchForm .SearchBoarInp {border: 1px solid #dcdcdc;position: relative;padding: 10px 12px 8px 12px;}.Header .HeaderTeam .Search .SearchForm .SearchInput {padding: 0;border: 0;display: block;width: 100%;font-size: 17px;}.Header .HeaderTeam .Search .SearchForm .SearchButton {top: 23px;right: 13px;}}@media screen and (max-width: 643px){.SideRightScrollSlider ul li {width: 18%;height: 18%;}}@media screen and (max-width: 631px){.ItemBox {width: 30%;}}@media screen and (max-width: 543px){.SideRightScrollSlider ul li {width: 22%;height: 22%;}}@media screen and (max-width: 480px){.ItemBox {width: 46%;}.FullContentRight {float: none;width: 100%;}}@media screen and (max-width: 382px){.ItemBox {width: 44.5%;}}@media screen and (max-width: 376px){.SideRightScrollSlider ul li {width: 30%;height: 30%;}}@media screen and (max-width: 365px){.FullContentItem .SocialShare .ShareBox .ShareBoxLeft, .FullContentItem .SocialShare .ShareBox .ShareBoxRight, .FullContentItem .SocialShare .ShareBoxBottomLeft, .FullContentItem .SocialShare .ShareBoxBottomLeftRight {float: none;text-align: center;margin-bottom: 3px;}.FullContentItem .SocialShare .ShareBoxBottomLeft {margin-bottom: 15px;}}@media screen and (max-width: 343px){.SideRightScrollSlider ul li {width: 46%;height: 46%;}}@media screen and (max-width: 335px){.Header .HeaderTeam .Menu li {margin-left: 0;}}@media screen and (max-width: 320px){.ItemBox {width: 100%;margin: 0!important;margin-bottom: 12px!important;}.ContentItemBox {padding: 10px;position: relative;}}@media screen and (max-width: 293px){.SideRightScrollSlider ul li {width: 100%;height: 100%;padding: 0;padding-bottom: 7px;}}
.edit-button {background: #eb0000;color: #f1f1f1;padding: 10px 0;margin: 0 0 15px 0;display: block;text-align: center;border-radius: 5px;text-decoration: none;}




/* верхнее меню */
#menu {position:absolute; width:530px;	margin:10px 0 0 0; top:15px; padding:0 0 0 16px;  display: none;}
#menu ul {width:220px; z-index:9; background: #000;}
#menu li {float:left; position:relative; z-index:5; list-style-type:none; padding:0 0 0 7px; z-index:10;}
#menu a {font-family:   Arial, sans-serif;	font-size:17px;	line-height:26px; color:#ff6000; text-decoration:none;	display:block; width:140px;	height:30px; font-weight:normal; z-index:11;}

#menu a.menu-radio {background:url(../img/menu.png) -3px -32px no-repeat; padding:0 0 0 34px; width:134px;}
#menu a.menu-tv {background:url(../img/menu.png) -3px -61px no-repeat; padding:0 0 0 34px; width:110px;}
#menu a.menu-games {background:url(../img/menu.png) -3px -2px no-repeat; padding:0 0 0 34px;}

#menu a:hover {}
#menu li:hover, #menu li.jshover {}
#menu li ul {display:none; position:absolute; padding: 6px 0px 7px 0px; border:solid 1px #CCC; width:182px; z-index:8;}
#menu li li a {font-family: 'Arimo', Arial, sans-serif; font-size:15px; line-height:25px; width:169px; height:26px; font-style:normal; color:#ff6000;  padding:0 0 0 14px; font-weight:normal;}
#menu li li a:hover {text-decoration:underline; }
#menu li:hover ul, #menu li.jshover ul {background-color:#F4F4F4; display:block;}
#menu li:hover li ul, #menu li.jshover li ul {display:none; width:140px;}
#menu li:hover li:hover ul, #menu li.jshover li.jshover ul {display:block;}
/* /верхнее меню */

#random {display: none;}

#search {display: none; width:200px; height:30px; float:right; margin:2px 4px 10px 0;}

#left-menu {padding:0 0 5px 0; border-radius:10px 10px 0 0;}
#left-menu-caption {display:block; background: rgba(0,0,0,0.1); }
#left-menu-caption a {font-family:Arial, Helvetica, sans-serif; display:block; text-transform:uppercase; font-weight:bold; margin:0; text-decoration:none;
    padding:8px 0 7px 13px;
	font-size:14px;
	color:#f4f7fa;
	background:#000;
    
}

/* /основная часть */

#table-category {}

/* левое меню */
.wrapper{}
.st-accordion{width:188px; background: rgba(0,0,0,0.1); padding:5px 0 5px 0; margin:0 0 10px 0;}
.st-accordion ul { margin:0; padding:0;}
.st-accordion ul li{overflow: hidden;}
.st-accordion ul li:first-child{ border-top:none;}
.st-accordion ul li > a { color:#ff6000; font-size:15px; display:block; position:relative; line-height:26px; outline:none; text-decoration:none; padding-left:20px;}
#st-accordion ul li > a:hover { text-decoration:underline; color:#ff6000;}
.st-accordion ul li > a:hover {color:#1693eb;}
.st-accordion ul li > a:hover span {opacity:1; right:10px;}
#st-accordion ul li.st-open > a {background:#EAEAEA; margin:0 6px 4px 6px; color:#ff6000;	border:dashed 1px #bbbbbb;}
#st-accordion ul li.st-open > a:hover { border:dashed 1px #9d9d9d;	text-decoration:none;}

.st-content {padding: 0 0 7px 0;}

#st-accordion .st-content a {padding:5px 0 0 22px; display:block; text-decoration:none; width:180px; color:rgb(188, 193, 194); height:18px; font-weight:normal;}
#st-accordion .st-content a:hover { color:#f5f5f5; text-decoration:underline;}
a.act{ color:#fff!important; text-decoration:underline!important;}
#st-accordion .st-content a.st-content-all {display:block; width:172px; text-align:center; margin:5px 0 3px 7px; padding:4px 0 0 0; height:23px; font-size:14px!important; font-weight:bold; color:#F4F9FD; background:#333; }
#st-accordion .st-content a.st-content-all:hover { color:#fff; background:#222; text-decoration:none;}
/**  /левое меню  **/

/** /левое меню нижнее **/
#left-menu-bottom {padding:1px 1px 5px 1px; background: rgba(0,0,0,0.1);  margin:0 0 10px 0;}
#left-menu-bottom-caption a {font-family:Arial, Helvetica, sans-serif; display:block; text-transform:uppercase; font-weight:bold; margin:0 0 4px 0; text-decoration:none;
    padding:8px 0 7px 13px;
	font-size:14px;
	color:#f4f7fa;
	background:#000;

}

#left-menu-bottom ul li {list-style-type: none; margin:0; padding:0;}
#left-menu-bottom ul {list-style-type:none; margin:0; padding:0;}
#left-menu-bottom ul li > a {color:#ff6000; font-size:15px; display:block; position:relative; line-height:26px; outline:none; text-decoration:none; padding-left:20px;
}
#left-menu-bottom ul li > a:hover { text-decoration: underline; color:#ff6000;}

#left-menu-bottom ul li a.city-all {display:block; height:26px; font-size:14px!important; font-weight:bold; text-align:center; color:fff; background:#333;  margin:5px 0 3px 7px; padding:0; text-decoration:none; width:172px;}
#left-menu-bottom ul li a.city-all:hover { color:#fff; background:#222; text-decoration:none;}

#blog-cat a.city-all {display:block; font-size:14px!important; font-weight:bold; text-align:center; color:#F4F9FD; background:#5882b2; border:solid 1px #4a719f; margin:6px 0 0 0; padding:3px 0 4px 0; text-decoration:none; width:172px;}
#blog-cat a.city-all:hover {border:solid 1px #3f6690; color:#F4F9FD; background:#4571A0; text-decoration:none;}

#left-menu-bottom ul li a.act-cat {text-decoration: underline; color:#ff6000;}
/** /левое меню нижнее */

/* /Левое меню СИНЕЕ */
#left-menu-list { padding:1px 1px 10px 1px;  margin:0 0 10px 0;}
#left-menu-list-caption a { font-family:Arial, Helvetica, sans-serif; display:none; text-transform:uppercase; font-weight:bold; margin:0 0 4px 0; text-decoration:none;
    padding:8px 0 7px 13px;
	font-size:14px;
	color:#f4f7fa;
	background:#000;

}

#left-menu-list ul li {display:none;list-style-type:none; margin:0; padding:0;}
#left-menu-list ul {list-style-type:none; margin:0; padding:0;}
#left-menu-list ul li > a {font-family: 'Arimo', sans-serif;  padding:5px 0 0 22px; display:block; text-decoration:none; width:165px; color:#0a68b5; height:18px;}
#left-menu-list ul li > a:hover {color:#DD0005; text-decoration:underline;}
/* /Левое меню СИНЕЕ */

#div-center-info {padding:0 0 7px 0; width:450px; margin:6px 0 2px 0; height:34px; border-bottom:dashed 1px #999999; position:relative; display:block; float:left;}
#div-center-info .share {display:block; float:left; width:176px; font-size:14px; line-height:18px; color:#5C5C5C; font-weight:bold; margin:0 0 0 0;}

.share42init {padding:0 0 0 0; position:relative; display:block; width:272px; height:29px; float:right; margin:6px 0 16px 0;}

.radio-logo-container {float:left;}
.radio-logo-container a {border:solid 0px!important;}
.radio-logo-container a img {padding:3px; margin:3px; background:#ff6000; width:131px; height:98px; border-radius:5px;}

/* флеш плееры  */
#fastserv_player {background:#F6F6F6; border:solid 2px #999; width:406px; height:30px;}
#fastserv {width:446px; height:40px;}
#audioplayer {width:446px; height:46px;}
#fastserv audio {width:450px;}

.audioplayer {width:450px; height:46px;}
.audioplayer1 {width:450px; height:46px;}

#player {height:50px; border-radius: 5px;}

#fastserv_player span {color:#4f4f4f; font-size:12px; margin:8px 0 0 5px;}
#fastserv_player a {color:#2dc9ff; font-size:12px;}
#fastserv_player a:hover {color:#2dc9ff; font-size:12px; text-decoration:none;}

#metadata {padding:6px 0 0 0; width:450px; height:28px; overflow:hidden; border-bottom:dashed 1px #999999;}
#metadata a {background:none!important; padding:0 0 0 0!important;}
#metadata .metadata-icon {margin:3px 4px 5px 0px; width:16px; height:16px; background:none!important; padding:0 0 0 0!important;}
#metadata span {font-size:14px; font-weight:bold; color:#d60303; line-height:24px; padding:4px 0 0 0;}
#metadata .metadata-cap {font-family:Arial, Helvetica, sans-serif; margin:0 1px 0 0; font-size:14px!important; color:#5C5C5C!important;   font-weight:bold; }
#metadata-track {font-family:Arial, Helvetica, sans-serif; font-size:14px!important; color:#d60303;  font-weight:bold; }
#meta {padding:4px 0 0 0; width:450px; height:23px; overflow:hidden; border-bottom:dashed 1px #999999; font-family: 'Arimo', sans-serif; font-weight:bold; color:#d60303; line-height:19px; padding:4px 0 0 0;}

#playlist { display:none;}
#playlist p {font-family: 'Arimo', sans-serif; font-weight:bold; text-align:center;}
#playlist a {border-bottom:dashed 1px #0a68b5; font-weight:normal;}
#playlist a:hover {color:#ff6000; text-decoration:none; border-bottom:solid 1px #ff6000;}

/* страница плейлистов  */
#blog-pl {display:block; position:relative; float:left; text-align:left; width:738px; border:solid 1px #d3d3d3; background:#ff6000; padding:10px 12px 16px 12px;}
#pl-block {display:block; position:relative; float:left; margin:6px 0 3px 0;}
#pl-block-cap {display:block; position:relative; float:left; width:100%; border-bottom:dashed 1px #d3d3d3; border-top:dashed 1px #d3d3d3; margin:15px 0 10px 0; padding:5px 0 6px 0; text-align:center;}
#pl-block-cap a {text-decoration:none; border-bottom:dashed 1px #0a68b5;}
#pl-block-cap a:hover {text-decoration:none; border-bottom:solid 1px #ff6000;}
#pl-left {display:block; position:relative; float:left; width:175px; border-right:dashed 1px #d3d3d3; margin:0 10px 0 0; background: none;}

#pl-left-radio {display:block; position:relative; float:left; text-align:center; margin:0 0 0 0; padding:0 0 0 0;}
#pl-left-radio a {background:none!important; margin:0 5px 0 0; padding:0 0 0 0;}
#pl-left-radio a img {width:120px; height:90px; background:none!important; margin:0 0 0 15px; padding:0 0 0 0;}

#pl-left-radio .pl-left-radio-online {display:block; width:148px; text-align:center; margin:4px 0 12px 7px; padding:5px 0 0 0; height:23px; font-size:14px!important; font-weight:bold; color:#F4F9FD; background:#5882b2!important; border:solid 1px #4a719f;}
#pl-left-radio .pl-left-radio-online:hover {border:solid 1px #3f6690; color:#F4F9FD; background:#4571A0!important; text-decoration:none;}

#pl-left .pl-left-cap {display:block; position:relative; float:left; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:14px; line-height:18px; color:#5C5C5C;  margin:0 0 2px 0; padding:6px 0 7px 0; width:165px; border-bottom:dashed 1px #d3d3d3; border-top:dashed 1px #d3d3d3;}

#pl-left-link {display:block; position:relative; float:left;}
#pl-left-link p {}
#pl-left-link a {display:block; position:relative; border:none!important; background: url(../img/arrow.png) -4px -54px no-repeat; padding:5px 0 0 12px; text-decoration:none;}
#pl-left-link a:hover {background:url(../img/arrow.png) -4px -71px no-repeat; color:#C00; text-decoration:underline!important;}
#pl-left-link a.active {background:url(../img/arrow.png) -4px -71px no-repeat; color:#C00; text-decoration:underline!important;}

#pl-right {display:block; position:relative; float:left; width:551px;}

#pl-right p {margin:4px 0 4px 0;}
#pl-right .vk {border:none;}
#pl-right .youtube {border:none;}

#pl-right a:hover {border:none!important;}
#pl-right .vk img {width:20px; height:20px; text-align:justify; margin:0 2px 2px 2px; vertical-align: middle; opacity:0.5;}
#pl-right .youtube img {width:20px; height:20px; text-align:justify; margin:0 5px 2px 2px; vertical-align: middle; opacity:0.5;}

#pl-right .vk img:hover {opacity:1;}
#pl-right .youtube img:hover {opacity:1;}
#pl-block-f {display:block; position:relative; float:left; width:738px; margin:8px 0 0 0;}
/* /страница плейлистов  */

/* категория */
#category { background:white; width:448px; border-radius: 5px; margin:3px 0 11px 0; padding:3px 0 0 0; position:relative; float:left; display:block;}
#category a {color:#0a68b5; text-decoration:none; border-bottom:dashed 1px #0a68b5; margin:0 6px 0 0;}
#category a:hover {color:#ff6000; text-decoration:none; border-bottom:solid 1px #ff6000;}
#category p {font-family: 'Arimo', sans-serif; font-weight:bold; margin:5px 6px 4px 10px; float:left;}
#category-link {width:334px; position:relative; float:left; margin:6px 0 8px 0;}
#category-link a {font-family: 'Arimo', sans-serif; color:#0a68b5;}

#more {width:455px; position:relative; float:left; margin:-3px 0 0 0;}
#more p {font-family: 'Arimo', sans-serif; font-weight:bold; margin:0 5px 6px 10px; line-height:20px;}
#more a {font-weight:normal; margin:3px 6px 0 0; white-space:nowrap; line-height:20px;}
#more a.active {color:#ff6000; border-bottom:solid 1px #ff6000;}
/* /категория */

/* Закладки */
#sbm {height:22px; padding:0; width:200px; display:none; float:left; margin:17px 0 0 0;}
#sbm a.add-sbm {display:none; float:right; height:21px; padding:3px 9px 0 9px; border:solid 1px #518529; background:#69A53B; font-weight:bold; color:#ff6000; text-decoration:none;}
#sbm a.add-sbm:hover {border:solid 1px #457123; background:#578d2d; color:#ff6000; text-decoration:none;}

#sbm .add-sbm-ok {display:block; float:right; height:21px; margin:0; padding:3px 5px 0 5px; border:solid 1px #b5b5b5; background:#F4F4F4; font-weight:bold; color:#449c2f; text-decoration:none;}

#sbm a.you-sbm {display:block; float:left; height:21px; background:url(../img/like.png) -1px -1px no-repeat #F4F4F4; padding:3px 9px 0 25px; border:solid 1px #b5b5b5; color:#5d5d5d; font-weight:bold; text-decoration:none;}
#sbm a.you-sbm:hover {border:solid 1px #a8a6a6; background:url(../img/like.png) -1px -1px no-repeat #ebebeb; color:#5d5d5d; text-decoration:none;}
/* /Закладки */

#description {position:relative; float:left; width:434px; border-radius: 5px; background:white; padding:6px 5px 8px 9px;}
#description p {font-family: 'Arimo', sans-serif;}
#description a {color:#0a68b5; text-decoration:none; border-bottom:dashed 1px #0a68b5;}
#description a:hover {color:#ff6000; text-decoration:none; border-bottom:solid 1px #ff6000;}

/* рейтинг лайки */
.for-modal {width:444px; height:0px;}
.fmp {width:444px; display:block; position:relative; float:left; text-align:center;}
.for-modal p {font-family: 'Arimo', sans-serif;}
.url-p {text-align:center; margin:0; height:14px; display: none}
.url {text-align:center; font-size:13px; color:#666!important; text-decoration:none; border-bottom:dashed 1px #666;}
.url:hover {color:#333!important; text-decoration:none!important; border-bottom:solid 1px #666;}
.url-modal{border:2px solid #999999; width:446px; height:75px; display:block; position:relative; float:left; margin-top:12px; margin:10px 0 0 0; padding:4px 0 8px 0; display:none;	text-align:center; background:#f6f6f6;}

p.url-modal-text a {border-bottom:dashed 1px #0a68b5;}
p.url-modal-text a:hover {border-bottom:solid 1px #ff6000;}
.url-exit {color:#4c8520!important; border-bottom:dashed 1px #4c8520;}
.url-exit:hover {color:#578d2d!important; text-decoration:none!important; border-bottom:solid 1px #4c8520;}
span.url-no-1 {border-bottom:0px;}
.url-no-1, .url-no-2  {margin-right:10px; color:#ff6000!important; border-bottom:dashed 1px #ff6000;}
.url-no-1:hover, .url-no-2:hover {text-decoration:none!important; border-bottom:solid 1px #ff6000;}
.success{text-align:center;	display:none; margin-top:7px;}
.success p {text-align:center; color:#578d2d!important;	font-weight:bold;}

#share-box {display:block; position:relative; float:left; width:450px; height:24px; padding:0; margin:0;}
#share-box p.share {font-family:Arial, Helvetica, sans-serif;}
#like-sbm {display:block; width:450px; position:relative; float:left; }
#rating {display:block; position:relative; float:left; height:25px; width:226px; text-align:right; margin:0 0 0 0;}

#rating .like {float:left; border:solid 1px #518529; background:#69a53b; padding:0 6px 0 3px; height:23px;}
#rating .like a.vote {background:url(../img/like.png) -3px -28px no-repeat; color:#ff6000fff; font-size:12px; line-height:24px; font-weight:bold; text-decoration:none; margin:0 0 0 0; padding:5px 0 0 21px;}
#rating .like span {color:#ff6000fff; font-size:14px;}
#rating .like_count {font-size:14px; font-weight:bold; color:#ff6000fff; margin-top:3px;}

#rating .liked {float:left; border:solid 1px #626262; background:#747474; padding:0 6px 0 3px; height:23px;}
#rating .liked a.vote {background:url(../img/like.png) -3px -28px no-repeat; color:#ff6000fff; font-size:12px; line-height:24px; font-weight:bold; text-decoration:none; margin:0 0 0 0; padding:5px 0 0 21px;}
#rating .liked span {color:#ff6000fff; font-size:14px;}

#rating .unlike {float:left; border:solid 1px #e27a38; background:#f68728; padding:0 6px 0 3px; margin:0 0 0 8px; height:23px;}
#rating .unlike a.vote {background:url(../img/like.png) -3px -53px no-repeat; color:#ff6000fff; font-size:12px; line-height:24px; text-decoration:none; text-align:left; margin:0 0 0 0; padding:5px 0 0 16px;}
#rating .unlike span {color:#ff6000fff; font-size:14px;}
#rating .unlike_count {font-size:14px; font-weight:bold; color:#ff6000fff; margin-top:3px;}

#rating .unliked {float:left; border:solid 1px #626262; background:#747474; padding:0 6px 0 3px; margin:0 0 0 8px; height:22px;}
#rating .unliked a.vote {background:url(../img/like.png) -3px -53px no-repeat; color:#ff6000fff; font-size:12px; line-height:24px; text-decoration:none; text-align:left; margin:0 0 0 0; padding:5px 0 0 16px;}
#rating .unliked span {color:#ff6000fff; font-size:14px;}
/* /рейтинг лайки */

/* Рейтинг */
#ratingit {display:none; }
.rating-c {display:block; float:left; margin:0 0 1px 35px; font-family: Arial,Helvetica,sans-serif!important; font-weight:bold; font-size:14px; color:#5C5C5C; }
.rating-p, .voted {font-family: 'Arimo', Arial, sans-serif!important; font-size:13px;}
/* /Рейтинг */

/* Комментарии */
#cat-caption {display:none; position:relative; float:left; width:446px; padding:1px 1px 0px 1px; margin:12px 0 0 0; border-top:solid 1px #CCC; border-right:solid 1px #CCC; border-left:solid 1px #CCC;}
#cat-caption h5 {font-family:Arial, Helvetica, sans-serif; display:block; text-transform:uppercase; font-weight:bold; margin:0; text-decoration:none; position:relative;
    padding:8px 0 7px 13px;
	font-size:14px;
	color:#f3f3f3;
	background:#666666;

}
#viewcom {display:block; position:relative; padding:4px 0 2px 0; margin:0 7px 0 9px; border-bottom:dashed 1px #999;}

#viewcom .viewcom-name {font-family: Arial,Helvetica,sans-serif!important; font-size:14px; font-weight:bold; color:#0a68b5; margin:-4px 4px 11px 0; padding:0; text-transform:capitalize;}
#viewcom .viewcom-time {font-size:11px; color:#999;}
#viewcom .viewcom-text {font-family: 'Arimo', sans-serif;}
#viewcom .reply {font-size:11px; color:#0a68b5; text-align:center; font-weight:bold;}

#pages-commentit {display:block; position:relative; margin:6px 0 7px 6px; float:left;}
#pages-commentit .skin-pages {display:block; float:left; margin:5px 4px 2px 2px; color:#696969; font-weight:bold;}
#pages-commentit b span.skin-pages-nomer {color:#F5F5F5; background: #666666; border-radius:18px 18px 18px 18px;}

#pages-commentit .skin-pages-next {display:block; float:left; color:#666; margin:6px 2px 0 0; padding:3px 5px 2px 5px; background:#d4d4d4; font-size:9px; border-radius: 8px 8px 8px 8px;}
#pages-commentit .skin-pages-next:hover {color:#F2F2F2; background:#666666;}

#pages-commentit .skin-pages-nomer, #pages-commentit .skin-pages-nomer-end {display:block; float:left; color:#666; margin:2px 2px 0 0; padding:5px 9px 5px 9px; background:#D4D4D4; font-size:12px; font-weight:bold; border-radius:18px 18px 18px 18px;}

#pages-commentit .skin-pages-nomer:hover {color:#F5F5F5; background:#666666;}
#ok {display:none; position:relative; float:left; margin:0; width:448px; padding:0; border-bottom:solid 1px #d3d3d3; border-left:solid 1px #d3d3d3; border-right:solid 1px #d3d3d3; background:#ff6000;}

#ok .error-text {color:#d50000; font-size:13px; font-weight:bold;}
#addfomz {background:#e5e5e5;display: none; border:solid 1px #c4c4c4; margin:12px 0 0 0; padding:1px 1px 0px 1px; width:446px; position:relative; float:left;}
#addfomz b {font-family:Arial, Helvetica, sans-serif; display:block; text-transform:uppercase; font-weight:bold; margin:0 0 1px 0; position:relative; float:left; width:433px;
    padding:8px 0 7px 13px;
	font-size:14px;
    color:#EDF7EA;
    background:#3E932A;

}

#addfomz .span-name {font-family: Arial,Helvetica,sans-serif!important; font-size:14px; line-height:16px; color:#585858;  font-weight:bold; border:none; padding:3px 0 0 0; margin:0 0 15px 12px;}
#nick {font-family: 'Arimo', Arial, sans-serif; width:220px; height:22px; color:#4f4f4f; font-size:14px; margin-bottom:-4px; border:solid 1px #CCC;}
#smilebar {width:170px; background:#ff6000; border:solid 1px #d3d3d3; padding:6px 3px 3px 8px; margin:0 0 0 3px; border-radius:3px;}
#addfomz .span-com {font-family: Arial,Helvetica,sans-serif!important; font-size:14px; line-height:10px; color:#585858; font-weight:bold; border:none; padding:0; margin:0 0 0 12px;}
#addfomz .span-capt {font-family: Arial,Helvetica,sans-serif!important; font-size:14px; line-height:16px; color:#585858;   font-weight:bold; border:none; padding:0; margin:0 0 5px 12px;} 
#addfomz .addcom-textarea {font-family: 'Arimo', Arial, sans-serif; color:#4f4f4f; font-size:14px; width:418px; margin:0 0 0 10px; border:solid 1px #CCC;}
#keystringz {font-family: 'Arimo', Arial, sans-serif; color:#4f4f4f; font-size:14px; margin-top:-15px; height:22px; border:solid 1px #CCC;}
#enter {font-size:13px; background:#449A30; border:solid 1px #518529; cursor:pointer; padding:5px 9px 5px 9px; margin:0 0 7px 0; font-weight:bold; color:#EEFDEF;}
#enter:hover {background:#3e932a; border:solid 1px #398028;}
input, textarea {outline:none;}
.error-c {background:#3e932a; border:solid 1px #398028;}
.skin_comment {display:block; text-transform:uppercase; font-weight:bold; margin:0 0 1px 0; position:relative; float:left; width:431px; padding:8px 0 7px 15px;	border-radius:3px 3px 0 0; font-size:14px; color:#EDF7EA; background:#3E932A;}
.bad_mes {display:block; text-transform:uppercase; font-weight:bold; margin:4px 0 11px 1px; position:relative; float:left; width:434px; padding:5px 0 6px 12px; font-size:14px; color:#ff6000df0; background:#EA7B1C;}
.error-p {display:block; position:relative; padding:5px 0 0 12px; margin:11px 0 0 0;}

.reply-l {font-size:12px; text-align:center; border-bottom:dashed 1px #0a68b5; color:#0a68b5;}
.reply-l:hover {color:#ff6000; border-bottom:dashed 1px #ff6000;}
/* /Комментарии */

#div-main {margin:0 auto; width:970px; overflow:hidden; display:block; position:relative;}
#div-main-left {width:190px; margin:0; padding:0; float:left;}

#div-main-center {width:100%; width:450px; float:left; margin:0 0 0 15px; padding:0 0 10px 0;}

#tv-box {position:relative; display:block; width:765px; float:left; margin:0 0 0 15px;}
#tv-podnim {position:relative; display:block;}

#not-tv p {font-size:15px !important; color:#5C5C5C;  font-weight:bold;}
#not-tv a {font-size:15px !important; color:#0a68b5; text-decoration:none; border-bottom:dashed 1px #0a68b5;}
#not-tv a:hover {color:#ff6000; text-decoration:none; border-bottom:solid 1px #ff6000;}

h1 {display: none;font-family: Arial, Helvetica, sans-serif; font-size:15px; line-height:22px; color:#D50000;	 text-transform:uppercase; font-weight:bolder; padding:0 0 2px 0;	margin:5px 0 5px 0;}
#div-main-center h2 {font-family: Arial, Helvetica, sans-serif; font-size:15px;   line-height:22px; text-transform:uppercase; font-weight:bolder;}

#div-main-center a {color:#0a68b5; text-decoration:none;}
#div-main-center a:hover {color:#ff6000; text-decoration:none;}

#div-main-center .yass-span {color:#0C3; text-decoration:underline;}
/* table-15 */
#table-15 {width:775px; margin:0 0 0 0; padding:0 0 0 0;}

#table-15 a {display:block; width:140px; height:140px; border-radius: 5px; background: white; margin-bottom:10px; padding:3px 0 0 5px; overflow:hidden; text-decoration:none;}
#table-15 a:hover {text-decoration:none; }
#table-15 a img {margin:2px 0 8px -6px; width:96px; height:72px; opacity:0.8; color:#666; font-size:13px; font-weight:normal; text-align:center; text-decoration:none;}
#table-15 a:hover img {margin:0 0 6px -6px; opacity:1; width:101px; height:76px; text-decoration:none;}

#table-15 a p {font-family: Arial, Helvetica; text-align:center; vertical-align:center; font-size:15px; color:#0A68B5; font-weight:bold; text-decoration:none;}
#table-15 a:hover p {color:#e80000; text-decoration:none;}

#blog-15 {margin:5px 0 0 0; padding:0; width:132px; height:40px; vertical-align:middle; display:table-cell; border-top:dashed 1px #d3d3d3; text-align:center;}
#table-15 a:hover  blog-15 {border:solid 1px #c2c1c1;}

#table-15 span {font-family: Arial, Helvetica; font-weight:bold; display:block; text-align:center; color:#666; font-size:11px; margin:-1px 0 0 -5px;}
#table-15 a:hover span {color:#535353;}
/* /table-15 */

/* 16 */
#div-main-center-16 {max-width:765px; min-width:350px; float:left; margin:0 0 0 15px; padding:0; background:#999;}

.test-box {background: #F8F7EF; 
		margin: 10px auto 10px;}
.test-box:after {overflow:hidden; content:''; display:block; clear:both; height:0; font-size:0;}
.test-box ul {margin:0;	padding:0;list-style:none; font: 14px Verdana, Geneva, sans-serif;
		text-align: justify;
		/* Обнуляем для родителя*/
		line-height: 0;
		font-size: 1px; /* 1px для Opera */
		/* Лекарство для IE6-7*/		
		text-justify: newspaper;
		zoom:1;
		/* Включаем в работу последнюю строку*/		
		text-align-last: justify;	
}

.test-box ul:after {
			width: 100%; 
			height: 0px;
			visibility: hidden;
			overflow: hidden;
			content: '';
			display: inline-block;
}
	
.test-box ul li {
			display : inline-block;
			width : 144px;
			height: 160px;
			margin: 0px 0px 10px;
			background: #E76D13;
			vertical-align: top;
			

			/* эмуляция inline-block для IE6-7*/
			//display : inline;
			//zoom : 1;
			
			/* Корректировка для IE6-7*/
			//margin-right: 5px;
		}


a.block {display:block; position:relative; float:left;  border:solid 1px #d3d3d3; background:#ff6000; margin:0px 0px 8px 0; padding:12px 0 0 6px; text-decoration:none;}
a.block:hover {text-decoration:none; border:solid 1px #c2c1c1;}

a.block img {margin:2px 0 8px -6px; width:96px; height:72px; opacity:0.8; color:#666; font-size:13px; font-weight:normal; text-align:center; text-decoration:none;}
a.block:hover img {margin:0 0 6px -6px; opacity:1; width:101px; height:76px; text-decoration:none;}
a.block p {font-family: Arial, Helvetica; text-align:center; vertical-align:center; font-size:15px; color:#0A68B5; font-weight:bold; text-decoration:none;}
a.block:hover p {color:#e80000; text-decoration:none;}

a.block span {font-family: Arial, Helvetica; font-weight:bold; display:block; text-align:center; color:#666; font-size:11px; margin:-1px 0 0 -5px;}
a.block:hover span {color:#535353;}
/* /16 */

/* стиль на странице городов */
#blog-cat {display: none;text-align:left; width:738px;  color: white; padding:10px 12px 10px 12px;}
#blog-cat p {font-size:14px!important; line-height:20px;}
#blog-cat .track {font-size:14px!important; line-height:20px;}
#blog-cat img {margin:0 10px 1px 0; width:143px; height:107px; font-size:13px; color:#fff; font-weight: normal;}

#blog-cat a {color:#fff; text-decoration:none; border-bottom:dashed 1px #0a68b5;}
#blog-cat a:hover, #blog-cat a.active {color:#ff6000; text-decoration:none; }

#div-right {display: none; width:300px; float:right; margin:0; padding:0 0 5px 0;}

/* Правое меню: популярные радиостанции */
#right-menu-caption {display:none; padding:1px 1px 0px 1px; background:#ff6000; border-top: solid 1px #CCC; border-right:solid 1px #CCC; border-left:solid 1px #CCC; margin:13px 0 0 0;}
#right-menu-caption a {font-family:Arial, Helvetica, sans-serif; font-size:14px; display:block; text-transform:uppercase; font-weight: bold; text-decoration:none;
	padding:9px 0 7px 13px;
	font-size:14px;
	color:#f3f3f3;
	background:#6b6b6b;
 
}
#right-menu-caption a:hover {background:#6b6b6b;}

#scrollbox {display: none; border-left:1px solid #D7D7D7; border-right:1px solid #D7D7D7; border-bottom:1px solid #D7D7D7; background:#ff6000; margin:0 0 12px 0;}
.scroll-img {width:295px; height:80px; overflow:hidden; font-size:0; margin:0 0 0 0;}
.scroll-img ul {width:291px; height:600px; margin:0; padding-left:0px;}
.scroll-img ul li {display:inline-block; margin:6px 0 4px 10px;}
#demo5.scroll-img ul {width:1500px;}
#demo5.scroll-img ul li a img {width:86px; height:65px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg);
  filter: gray;
}
#demo5.scroll-img ul li a img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: none;
}	
#demo5-btn {width:296px; padding:0 0 6px 0; text-align:center;}
#demo5-backward, #demo5-backward:active, #demo5-backward:focus {width:20px; height:20px; background:url(../img/right-scrol.png) -35px -35px; border:none; outline:none; cursor: pointer;}
#demo5-backward:hover {background:url(../img/right-scrol.png) -5px -35px; border:none;}
#demo5-forward, #demo5-forward:active, #demo5-forward:focus {width:20px; height:20px; background:url(../img/right-scrol.png) -35px -5px; border:none; outline:none; cursor: pointer;}
#demo5-forward:hover {background:url(../img/right-scrol.png) -5px -5px; border:none;}
/* /Правое меню: популярные радиостанции */

/* подборки */
#right-menu-podborki {display:none; padding:1px 1px 0px 1px; background:#ff6000; border-top: solid 1px #CCC; border-right:solid 1px #CCC; border-left:solid 1px #CCC; margin:7px 0 0 0;}
#right-menu-podborki a {font-family:Arial, Helvetica, sans-serif; font-size:14px; display:block; text-transform:uppercase; font-weight: bold; text-decoration:none; border:0;
	padding:9px 0 7px 13px;
	font-size:14px;
    color:#f4f7fa;
	background:#416c9b;
    background: -moz-linear-gradient(top, #6289b7, #5681b1); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6289b7), color-stop(100%,#5681b1)); /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #6289b7, #5681b1);
    background: -o-linear-gradient(top, #6289b7, #5681b1); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6289b7, #5681b1); /* IE10 */
    background: linear-gradient(top, #6289b7, #5681b1); /* CSS3 */
}
#right-menu-podborki a:hover {background:#4571A0;}
#for-podborki {display: none; border-left:1px solid #D7D7D7; border-right:1px solid #D7D7D7; border-bottom:1px solid #D7D7D7; background:#ff6000; margin:0 0 12px 0; padding:3px 6px 6px 1px;}
#for-podborki ul {list-style-type:none; margin:0; padding:0;}
#for-podborki ul li {list-style-type: none; margin:0; padding:0;}
#for-podborki ul li > a {background:url(../img/arrow.png) 1px 4px no-repeat; color:#ff6000; font-size:15px; display:block; position:relative; line-height:26px; outline:none; text-decoration:none; padding-left:20px;
}
#for-podborki ul li > a:hover {background:url(../img/arrow.png) 1px -16px no-repeat; text-decoration: underline; color:#ff6000;}
/* /подборки */

/* анекдот */
#right-menu-anekdot {display:none; padding:1px 1px 0px 1px; background:#ff6000; border-top: solid 1px #CCC; border-right:solid 1px #CCC; border-left:solid 1px #CCC; margin:11px 0 0 0;}
#right-menu-anekdot a {font-family:Arial, Helvetica, sans-serif; font-size:14px; display:block; text-transform:uppercase; font-weight: bold; text-decoration:none; border:0;
	padding:9px 0 7px 13px;
	font-size:14px;
	color:#ff6000bf8;
	background:#ea7b1c;
    background: -moz-linear-gradient(top, #f38526, #ea7b1c); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f38526), color-stop(100%,#ea7b1c)); /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #f38526, #ea7b1c);
    background: -o-linear-gradient(top, #f38526, #ea7b1c); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f38526, #ea7b1c); /* IE10 */
    background: linear-gradient(top, #f38526, #ea7b1c); /* CSS3 */
}
#right-menu-anekdot a:hover {background:#ea7b1c;}
#for-anekdot {display: none; border-left:1px solid #D7D7D7; border-right:1px solid #D7D7D7; border-bottom:1px solid #D7D7D7; background:#ff6000; margin:0 0 14px 0; padding:10px 6px 7px 10px;}
.anek {color:#0a68b5; text-decoration:none; border-bottom:dashed 1px #0a68b5;}
.anek:hover {color:#ff6000; text-decoration:none; border-bottom:solid 1px #ff6000;}
/* /анекдот */

/* Вывод закладок на странице bookmarks */
#sbm-result {border-bottom: dashed 1px #999; height:45px; margin:4px 0 0 0;}
#sbm-link {display:block; float:left; width:400px;}
#sbm-link a {font-family: Arial, Helvetica; font-size:14px; color:#0a68b5; line-height:22px; font-weight:bold; background:url(../../images/icon/play.png) 0px 0px no-repeat!important; padding:0 0 0 20px!important; text-decoration:none;}
#sbm-link a:hover {text-decoration:underline; color:#e80000;}
#sbm-link p.sbm-add {font-size:13px;}
#sbm-del {display:block; float:right; width:20px; margin:7px 0 0 0;}
/* /Вывод закладок на странице bookmarks */

h2 {color:#D50000; text-transform:uppercase; padding:8px 0 8px 0; margin:0 0 0 0;}
h4 {font-family: Georgia, "Times New Roman", Times, serif; font-size:16px; color:#214E8F; font-style:italic; text-decoration:underline; margin:0 0 5px 10px;}

#yandex-search-results {width:530px; margin:-14px 0 0 0; padding:0 0 0 12px; background:#F4F4F4; border:solid 1px #c4c4c4;}

/* Footer */
#FooterPan {margin:0 auto; display:none; position:relative; width:100%; max-width:970px; height:110px; border-top:groove 1px #e8e8e8;}
#FooterPan p, #FooterPan a {font-family: 'Arimo', sans-serif; font-size:14px;}
#FooterPanTop {margin:7px 0 7px 0;}
#FooterPanTop a {color:#4f4f4f; margin:0 3px 0 3px; text-decoration:none; border-bottom:dashed 1px #4f4f4f;}
#FooterPanTop a:hover {text-decoration:none; border-bottom:solid 1px #4f4f4f;}
#FooterPan-left {width:760px; float:left;}
#FooterPan-left a {color:#0857A6; text-decoration:none;}
#FooterPan-left a:hover {color:#c10000; text-decoration: underline;}
#FooterPan-right {width:110px; float:right; margin:20px 0 0 0; text-align:right;}
#FooterPan-right a {text-align:right; color:#0857A6; text-decoration: none; font-size:13px; background: url(../img/header.png) 2px 2px no-repeat; padding:0 0 0 13px;}
#FooterPan-right a:hover {color:#c10000; text-decoration: underline; background: url(../img/header-h.png) 2px 2px no-repeat; padding:0 0 0 13px;}
/* /Footer */
